<footer class="footer">
  <div class="container">
    <ul class="footer-list">
      <li class="footer-item-list">
        <a aria-label="read abot us" href="#about-us">about us</a>
      </li>
      <li class="footer-item-list">
        <a aria-label="view our collection" href="#our-collection"
          >our collection</a
        >
      </li>
      <li class="footer-item-list">
        <a aria-label="make an order" href="#order-section">customer order </a>
      </li>
      <li class="footer-item-list">
        <a aria-label="read reviews" href="#testimonials">testimonials</a>
      </li>
    </ul>
    <h2 class="footer-text">
      A touch of <span class="footer-text-span">Ukrainian</span> culture in
      every embroidery
    </h2>
  </div>
</footer>
