<footer class="footer">
  <div class="container">
      <ul class="footer-list">
        <li class="footer-item-list"><a href="#" >About us</a></li>
        <li class="footer-item-list"><a href="#" >CUSTOMER ORDER</a></li>
        <li class="footer-item-list"><a href="#" >Our collection </a></li>
        <li class="footer-item-list"><a href="#" >TEstimonials</a></li>
      </ul>
    <h2 class="footer-text">
      A touch of <span class="footer-text-span">Ukrainian</span> culture in every embroidery
    </h2>
  </div>
</footer>
