<header class="section section-topline">
  <div class="container heder-container">
    <a class="logo" href="./index.html"
      ><img src="./img/logo.svg" alt="logo" width="44" height="39"
    /></a>
    <nav class="navigation">
      <ul class="nav-list">
        <li>
          <a class="nav-link" href="#about-us">About us</a>
        </li>
        <li><a class="nav-link" href="#our-collection">our collection </a></li>
        <li><a class="nav-link" href="#customer-order">customer order</a></li>
        <li><a class="nav-link" href="#testimonials">testimonials</a></li>
      </ul>
    </nav>
    <address class="adress">
      <a class="address-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
    </address>
    <ul class="heder-social-list">
      <li class="hederr-social-li">
        <a
          target="_blank"
          href="https://www.facebook.com/goITclub/"
          class="heder-social-link"
          ><svg class="social-link-icon" width="28" height="28">
            <use href="./img/icons.svg#facebook-icon"></use>
          </svg>
        </a>
      </li>
      <li class="heder-social-li">
        <a
          target="_blank"
          href="https://www.instagram.com/goitclub/"
          class="heder-social-link"
          ><svg class="social-link-icon" width="28" height="28">
            <use href="./img/icons.svg#instagram-icon"></use>
          </svg>
        </a>
      </li>
      <li class="hederr-social-li">
        <a
          target="_blank"
          href="https://www.youtube.com/c/GoIT"
          class="heder-social-link"
          ><svg class="social-link-icon" width="28" height="28">
            <use href="./img/icons.svg#youtube-icon"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button class="menu-button" type="button">
      <svg class="menu-batton-icon" width="44" height="30">
        <use href="./img/icons.svg#menu-icon"></use>
      </svg>
    </button>
  </div>
</header>
