<div class="backdrop">
  <div class="mobile-menu js-menu-container is-open" id="mobile-menu" data-menu>
    <div class="mobile-menu-top">
      <a class="number" href="tel:+380684439426">+380 (68) 443-94-26</a>
      <button
        class="mobile-menu-close js-close-menu"
        id="close"
        aria-label="Close menu"
        data-menu-close
      >
        <svg class="mobile-menu-close-icon" width="44" height="44">
          <use href="./img/icons.svg#close-icon"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-menu-navigation">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-link" data-menu-close href="#about-us"
            >ABOUT US</a
          >
        </li>
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-link" data-menu-close href="#our-collection"
            >OUR COLLECTION
          </a>
        </li>
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-link" data-menu-close href="#order-section"
            >CUSTOMER ORDER</a
          >
        </li>
        <li class="mobile-menu-list-item">
          <a class="mobile-menu-link" data-menu-close href="#testimonials"
            >TESTIMONIALS</a
          >
        </li>
      </ul>
    </nav>
  </div>
</div>
