<!-- =============== OUR COLLECTION =========== -->
<section class="our-collection-section section" id="our-collection">
  <div class="container our-collection-container">
    <div class="container-our-collection-new"></div>
    <h2 class="collection-heading-second">Our collection</h2>

    <ul class="page-list list-collection">
      <li class="page-item collection-item">
        <div class="container-collection-image" aria-haspopup="true">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                img/desktop1440/collection-1-desktop1440.jpg    1x,
                img/desktop1440/collection-1-desktop1440@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                img/desktop1280/collection-1-desktop1280.jpg    1x,
                img/desktop1280/collection-1-desktop1280@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                img/tablet/collection-1-tablet.jpg    1x,
                img/tablet/collection-1-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                img/phone/collection-1-phone.jpg    1x,
                img/phone/collection-1-phone@2x.jpg 2x
              "
            />
            <img
              class="collection-img"
              src="img/desktop1440/collection-1-desktop1440.jpg"
              alt="Poltava blouse"
            />
          </picture>
          <div class="images-overlay">
            <p class="text-image-collection">
              Poltava region ornament on a black women's blousering
            </p>
          </div>
        </div>
        <div class="name-item">
          <h3 class="heading-third title-collection">
            AUGUST Poltava women's blouseRING
          </h3>
          <p class="paragraph-text collection-paragraph">3300 UAH</p>
        </div>
      </li>
      <li class="page-item collection-item">
        <div class="container-collection-image">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                img/desktop1440/collection-2-desktop1440.jpg    1x,
                img/desktop1440/collection-2-desktop1440@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                img/desktop1280/collection-2-desktop1280.jpg    1x,
                img/desktop1280/collection-2-desktop1280@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                img/tablet/collection-2-tablet.jpg    1x,
                img/tablet/collection-2-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                img/phone/collection-2-phone.jpg    1x,
                img/phone/collection-2-phone@2x.jpg 2x
              "
            />
            <img
              class="collection-img"
              src="img/desktop1440/collection-2-desktop1440.jpg"
              alt="Blouse Gorgany"
            />
          </picture>
          <div class="images-overlay">
            <p class="text-image-collection">
              Women's blousering with an ornament of the Carpathian Mountains
              region
            </p>
          </div>
        </div>
        <div class="name-item">
          <h3 class="heading-third title-collection">Women's blouse Gorgany</h3>
          <p class="paragraph-text collection-paragraph">3350 UAH</p>
        </div>
      </li>
      <li class="page-item collection-item">
        <div class="container-collection-image">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                img/desktop1440/collection-3-desktop1440.jpg    1x,
                img/desktop1440/collection-3-desktop1440@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                img/desktop1280/collection-3-desktop1280.jpg    1x,
                img/desktop1280/collection-3-desktop1280@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                img/tablet/collection-3-tablet.jpg    1x,
                img/tablet/collection-3-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                img/phone/collection-3-phone.jpg    1x,
                img/phone/collection-3-phone@2x.jpg 2x
              "
            />
            <img
              class="collection-img"
              src="img/desktop1440/collection-3-desktop1440.jpg"
              alt="Blouse Crimea"
            />
          </picture>
          <div class="images-overlay">
            <p class="text-image-collection">
              Women's blousering with an ornament of the region of the Ukrainian
              Crimean Peninsula
            </p>
          </div>
        </div>
        <div class="name-item">
          <h3 class="heading-third title-collection">Women's blouse Crimea</h3>
          <p class="paragraph-text collection-paragraph">4000 UAH</p>
        </div>
      </li>
      <li class="page-item collection-item">
        <div class="container-collection-image">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                img/desktop1440/collection-4-desktop1440.jpg    1x,
                img/desktop1440/collection-4-desktop1440@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                img/desktop1280/collection-4-desktop1280.jpg    1x,
                img/desktop1280/collection-4-desktop1280@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                img/tablet/collection-4-tablet.jpg    1x,
                img/tablet/collection-4-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                img/phone/collection-4-phone.jpg    1x,
                img/phone/collection-4-phone@2x.jpg 2x
              "
            />
            <img
              class="collection-img"
              src="img/desktop1440/collection-4-desktop1440.jpg"
              alt="Shirt Verkhovina"
            />
          </picture>
          <div class="images-overlay">
            <p class="text-image-collection">
              Man's shirt with an ornament of the western region
            </p>
          </div>
        </div>
        <div class="name-item">
          <h3 class="heading-third title-collection">Men's shirt Verkhovina</h3>
          <p class="paragraph-text collection-paragraph">3100 UAH</p>
        </div>
      </li>
      <li class="page-item collection-item">
        <div class="container-collection-image">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                img/desktop1440/collection-5-desktop1440.jpg    1x,
                img/desktop1440/collection-5-desktop1440@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                img/desktop1280/collection-5-desktop1280.jpg    1x,
                img/desktop1280/collection-5-desktop1280@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                img/tablet/collection-5-tablet.jpg    1x,
                img/tablet/collection-5-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                img/phone/collection-5-phone.jpg    1x,
                img/phone/collection-5-phone@2x.jpg 2x
              "
            />
            <img
              class="collection-img"
              src="img/desktop1440/collection-5-desktop1440.jpg"
              alt="Shirt Mountain"
            />
          </picture>
          <div class="images-overlay">
            <p class="text-image-collection">
              Men's black shirt with an ornament of the Carpathian Mountains
              region
            </p>
          </div>
        </div>
        <div class="name-item">
          <h3 class="heading-third title-collection">Mountain men's shirt</h3>
          <p class="paragraph-text collection-paragraph">3300 UAH</p>
        </div>
      </li>
      <li class="page-item collection-item">
        <div class="container-collection-image">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                img/desktop1440/collection-6-desktop1440.jpg    1x,
                img/desktop1440/collection-6-desktop1440@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                img/desktop1280/collection-6-desktop1280.jpg    1x,
                img/desktop1280/collection-6-desktop1280@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                img/tablet/collection-6-tablet.jpg    1x,
                img/tablet/collection-6-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                img/phone/collection-6-phone.jpg    1x,
                img/phone/collection-6-phone@2x.jpg 2x
              "
            />
            <img
              class="collection-img"
              src="img/desktop1440/collection-6-desktop1440.jpg"
              alt="Shirt Yasen"
            />
          </picture>
          <div class="images-overlay">
            <p class="text-image-collection">
              Men's shirt with the symbolic name "Yasen", which broadcasts
              eternal life and immortality
            </p>
          </div>
        </div>
        <div class="name-item">
          <h3 class="heading-third title-collection">Men's shirt Yasen</h3>
          <p class="paragraph-text collection-paragraph">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
