.about-us {
  margin-left: auto;
  margin-right: auto;
  max-width: 584px;
  background-image: url('/img/ornament/ornament-gray.png');
  background-repeat: no-repeat;
  background-position: bottom left 125px;
  padding-top: 40px;
  padding-bottom: 62px;
}

@media screen and (min-resolution: 192dpi) {
  .about-us {
    background-image: url('/img/ornament/ornament-gray@2x.png');
  }
}

.about-us-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.38;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  margin-bottom: 40px;
}

.about-us-desc {
  line-height: 1.5;
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
  margin-bottom: 20px;
}

.about-us-img-thumb {
  border-radius: 4px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .about-us {
    background-size: 459px 408px;
  }

  .about-us-desc {
    font-size: 14px;
  }

  .about-us-text-wrapper {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .about-us-title {
    font-size: 44px;
    line-height: 1.45;
  }

  .about-us {
    max-width: 944px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: bottom left 399px;
    background-size: 545px 484px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-us-text-wrapper {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us {
    max-width: 1440px;
    padding-top: 75px;
    padding-bottom: 80px;
    background-position: bottom left 895px;
  }

  .about-us-container {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .about-us-text-wrapper {
    max-width: 536px;
  }

  .about-us-desc:first-of-type {
    max-width: 508px;
  }
}

@media screen and (min-width: 1440px) {
  .about-us {
    max-width: 1440px;
    background-position: bottom left 895px;
  }

  .about-us-text-wrapper {
    max-width: 481px;
  }
}
