body {
    font-family: "Manrope" sans-serif;
    color: #FCF9F9;
    border-color: #1c2225;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #ecd979;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.container {
    min-width: 320px;
    max-width: 375px;
    padding: 0 20px;
    margin: 0 auto;
}

