.section-topline {
  padding-top: 20px;
  padding-bottom: 20px;
}

.heder-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 52px;
}
.navigation {
  display: none;
}
.adress {
  display: none;
}
.menu-button {
  display: flex;
  width: 36px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #1c2225;
  padding: 0;
}

.heder-social-list {
  margin-left: auto;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.heder-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: rgba(252, 249, 249, 0.1);
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.heder-social-link:hover,
.heder-social-link:focus {
  border: 1px solid #ecd979;
  background-color: transparent;
}

@media screen and (min-width: 375px) {
  .logo {
    margin-right: 87px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 440px;
  }
  .heder-social-list {
    margin-right: 20px;
  }
  .menu-button {
    width: 44px;
    height: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    margin-right: 60px;
  }
  .navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .nav-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .adress {
    display: flex;
    margin-right: 20px;
  }

  .address-link {
    display: flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.43;
    text-transform: uppercase;
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover,
  .address-link:focus {
    border: 1px solid #ecd979;
    color: #fcf9f9;
  }
  .nav-list {
    display: flex;
    gap: 25px;
  }
  .heder-social-list {
    margin: 0;
  }
  .menu-button {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .section-topline {
    padding-top: 18px;
  }
}
