.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 789;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgba(83, 87, 47, 0.6);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  /* overflow: hidden; */
}

.mobile-menu {
  width: 274px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #ecd979;
  background-image: url('./img/ornament/ornament-black.png');
  background-position: bottom -51px center;
  background-repeat: no-repeat;
  background-size: 340px 302px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* cubic-bezier(0.4, 0, 0.2, 1) */
.mobile-menu.is-open {
  pointer-events: auto;
  transform: translateX(0);
  opacity: 1;
}

.mobile-menu-top {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}

.mobile-menu-close {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0;
  cursor: pointer;
  background-color: #ecd979;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 36px;
  height: 36px;
}

.mobile-menu-close-icon {
  stroke: black;
}

.number {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #1c2225;
  border: 1px solid rgba(28, 34, 37, 0.1);
  border-radius: 15px;
  padding: 12px 20px;
  min-width: 158px;
  min-height: 38px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
}

.number:focus {
  border: none;
}

.mobile-menu-navigation {
  margin-top: 186px;
}
.mobile-menu-list {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 20px;
}

.mobile-menu-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  color: #1c2225;
}
.mobile-menu-close-icon {
  stroke: black;
}
/*---------------------TABLET-------------------*/
@media screen and (min-width: 768px) {
  .mobile-menu {
    width: 380px;
    padding-left: 32px;
    padding-right: 32px;
    background-size: 545px 484px;
    background-position: bottom -120px center;
  }

  .mobile-menu-close {
    width: 44px;
    height: 44px;
    right: 32px;
  }

  .mobile-menu-top {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 79px;
  }
  .mobile-menu-navigation {
    gap: 25px;
  }
  .number {
    border-radius: 15px;
    padding: 14px 28px;
    min-width: 193px;
    min-height: 48px;
    font-size: 14px;
    line-height: 1.42857;
  }
}
@media screen and (min-width: 1280px) {
  .backdrop {
    display: none;
  }
  /* .mobile-menu {
    display: none;
  } */
}
