/*--------------------OUR COLLECTION STYLES----------------*/
.our-collection-section {
    align-items: center;
}

.collection-heading-second {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.37;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 40px;
}

.title-collection {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 8px;

}

.collection-paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.05em;
    color: rgba(252, 249, 249, 0.4);
}

.name-item {
    text-align: left;
}

.container-collection-image {
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    margin-bottom: 18px;
}

.images-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.container-collection-image:hover .images-overlay {
    opacity: 1;
}
.container-collection-image:hover {
transform: scale(1.05);
}
.text-image-collection {
    position: absolute;
    top: 30%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 767px) {
.our-collection-section {
        background-image: url('/img/logo.svg');
        /*margin: 0 auto;*/
        /*background-color: #2e2f42;*/
        background-repeat: no-repeat;
        background-position: left;
        background-size: 199px 177px;
        background-position-x: -127px;
        background-position-y: 338px;
        background-origin: padding-box;
        background-clip: padding-box;
}

.collection-item:not(:last-child) {
    margin-bottom: 20px;
}
}

@media screen and (min-width: 768px) {
.our-collection-section {
    background-image: url('/img/logo.svg');
    /*margin: 0 auto;*/
    background-repeat: no-repeat;
    background-position: left;
    background-size: 338px 300px;
    background-position-x: -224px;
    background-position-y: 271px;
    background-origin: padding-box;
    background-clip: padding-box;
}
.collection-heading-second {
    font-size: 44px;
    line-height: 1.45;
}

.title-collection {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-image-collection {
    font-size: 18px;

}

.collection-paragraph {
    font-size: 18px;
    line-height: 1;
}

/* .flip-card {
    width: 342px;
    
} */
.collection-item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 20px)/2);

}

.list-collection {
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.text-image-collection {
    font-size: 18px;
}
}

@media screen and (min-width: 1280px) {
.our-collection-section {
    background-image: url('/img/logo.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 338px 300px;
    background-position-x: -169px;
    background-position-y: 296px;
    background-origin: padding-box;
    background-clip: padding-box;
}

.collection-item {
    width: calc((100% - 40px)/3);
    }

.list-collection {
    display: flex;
    column-gap: 20px;
    row-gap: 40px;
    flex-wrap: wrap;
}
}

@media screen and (min-width: 1440px) {
.our-collection-section {
    background-image: url('/img/logo.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 338px 300px;
    background-position-x: -169px;
    background-position-y: 306px;
    background-origin: padding-box;
    background-clip: padding-box;
    }
}
