:root {
  --black: #1c2225;
  --white: #fcf9f9;
  --yellow: #ecd979;
}
/* ========================================================================================================================================================
ORDER SECTION
======================================================================================================================================================== */

/*  =============  MOBILE ================================= */
@media screen and (max-width: 767px) {
  .order-sec-ornament-gray-pic {
    display: none;
  }
  .order-sec-ornament-gray {
    display: none;
  }
  .order-sec-pic-img {
    display: none;
  }
  .order-pic-holder {
    display: none;
  }
  .order-sec-container {
    padding-top: 80px;
  }

  .order-sec-bgimg-holder {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/phone/order-background-phone.jpg);
  }
  @media screen and (min-resolution: 192dpi) {
    .order-sec-bgimg-holder {
      background-image: url(/img/phone/order-background-phone@2x.jpg);
    }
  }
  .order-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.37;
    letter-spacing: -0.03em;
    color: var(--white);
    margin-bottom: 40px;
  }
  .order-title-part-wrapper {
    color: var(--yellow);
  }
  /* ====== order-form ======*/
  .order-sec-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(252, 249, 249, 0.5);

    min-width: 280px;
    max-width: 335px;
  }

  .order-form-element {
    width: 100%;
    padding: 14px 16px;
    outline: transparent;
    background-color: transparent;
    border-radius: 15px;
    color: rgba(252, 249, 249, 0.5);
    border: 1px solid rgba(252, 249, 249, 0.1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .order-form-element:hover,
  .order-form-element:focus {
    border: 1px solid rgba(252, 249, 249, 0.6);
  }
  .order-form-user-comment {
    border-radius: 8px;
    height: 196px;
  }
  .order-form-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 36px;
    width: 145px;
    height: 49px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--white);
  }

  .order-form-btn:hover,
  .order-form-btn:focus {
    border: 1px solid #ecd979;
  }
}
/* =============== TABLET ================================= */
@media screen and (min-width: 768px) {
  /* .order-sec-container {
    background-image: url(/img/ornament/ornament-gray.png);
    background-size: 545px 484px;
    background-repeat: no-repeat;
    background-position: left -222px bottom;
  } */
  .order-sec-container {
    padding-top: 100px;
    padding-bottom: 79px;
    position: relative;
  }
  /* .order-sec-ornament-gray-pic {
    position: absolute;
    bottom: 0;
    left: -222px;
  } */

  .order-sec-ornament-box {
    position: absolute;
    bottom: 0;
    left: -222px;
    width: 545px;
    height: 484px;
    background-image: url(/img/ornament/ornament-gray@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .order-sec-bgimg-holder {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 776px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/tablet/order-background-tablet.jpg);
  }
  @media screen and (min-resolution: 192dpi) {
    /* .order-sec-container {
      background-image: url(/img/ornament/ornament-gray@2x.png);
    } */
    .order-sec-bgimg-holder {
      background-image: url(/img/tablet/order-background-tablet@2x.jpg);
    }
  }

  .order-title {
    font-weight: 500;
    font-size: 44px;
    line-height: 1.32;
    letter-spacing: -0.03em;
    color: var(--white);
    margin-bottom: 40px;
  }
  .order-title-part-wrapper {
    color: var(--yellow);
  }
  .order-form-holder {
    width: 542px;
    margin-bottom: 100px;
  }

  .order-sec-pic-img {
    border-radius: 4px;
  }
  /* ====== order-form ======*/
  .order-sec-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: rgba(252, 249, 249, 0.5);

    width: 508px;
  }

  .order-form-element {
    width: 100%;
    padding: 14px 16px;
    outline: transparent;
    background-color: transparent;
    color: rgba(252, 249, 249, 0.5);
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .order-form-element:hover,
  .order-form-element:focus {
    border: 1px solid rgba(252, 249, 249, 0.6);
  }
  .order-form-user-comment {
    border-radius: 8px;
    height: 196px;
  }
  .order-form-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 15px;
    padding: 14px 36px;
    width: 168px;
    height: 50px;
    margin-top: 20px;

    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--white);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .order-form-btn:hover,
  .order-form-btn:focus {
    border: 1px solid #ecd979;
  }
}

/* ============== DESKTOP-1280 ==================================== */
@media screen and (min-width: 1280px) {
  /* .order-sec-container {
    background-position: left -258px bottom;
  } */

  .order-sec-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    padding-top: 150px;
    padding-bottom: 0;
  }
  /* .order-sec-ornament-gray-pic {
    position: absolute;
    bottom: 0;
    left: -270px;
  } */

  .order-sec-ornament-box {
    bottom: 0;
    left: -258px;
  }

  .order-form-holder {
    margin-bottom: 0;
  }
  .order-sec-bgimg-holder {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 776px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/img/desktop1280/order-background-desktop1280.jpg);
  }
  @media screen and (min-resolution: 192dpi) {
    .order-sec-bgimg-holder {
      background-image: url(/img/desktop1280/order-background-desktop1280@2x.jpg);
    }
    .order-pic-holder {
      width: 588px;
    }
  }
}
/* ============== DESKTOP-1440 ==================================== */
@media screen and (min-width: 1440px) {
  /* .order-sec-container {
    background-position: left -222px bottom;
  } */
  /* .order-sec-ornament-gray-pic {
    position: absolute;
    bottom: 0;
    left: -232px;
  } */

  .order-sec-ornament-box {
    bottom: 0;
    left: -220px;
  }
  .order-pic-holder {
    width: 524px;
  }

  .order-sec-bgimg-holder {
    background-image: url(/img/desktop1440/order-background-desktop1440.jpg);
  }
  @media screen and (min-resolution: 192dpi) {
    .order-sec-bgimg-holder {
      background-image: url(/img/desktop1440/order-background-desktop1440@2x.jpg);
    }

    .order-form-holder {
      width: 666px;
    }
  }
}
